@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #331b1b;
}

header {
    background-color: #e3c5ad;
    border-radius: 0 0 255px 255px;
}

.container {
    width: 940px;
    position: relative;
    margin: auto;
}

.container .logo{
    width: 75px;
}

header nav {
    position: absolute;
    bottom: 45%;
    right: 0;
}

header nav li {
    display: inline;
    margin-left: 20px;
}

header nav ul a {
    color: #331b1b;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: .2s ease-in;
}

header nav ul a:hover {
    color: #de7019;
}

/* container dos servicos */
.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 3rem;
    height: 60vh;
}

.servicos li{
    display: inline-block;
    position: relative;

    text-align: center;
    margin-left: 22px;
    width: 30%;
    height: 100%;
    padding: 10px;
    vertical-align: top;
    box-sizing: border-box;
    color: #331b1b;
    background-color: #e3c5ad;
    border-radius: 12px;
    transition: .3s ease-in;
}

.servicos li:hover {
    background-color: #e9be99;
}

.servicos li img {
    margin-top: 20px;
    width: 200px;
}

.servicos .title {
    font-size: 18px;
    font-weight: bold;
}

.servicos .descricao{
    font-size: 14px;
}

.servicos .preco {
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 0;
    
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    background-color: #de7019;
    color: #e3c5ad;
    padding: 10px 0;
    border-radius: 7px;
    transition: .3s ease-in;
    cursor: pointer;
}

.servicos .preco:hover {
    background-color: #cc5800;
}

/*footer*/

footer {
    background-color: #e3c5ad;
    padding: 20px 0;
    text-align: center;
}
